<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button>
          </ion-back-button>
        </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-img src="https://i.ytimg.com/vi/LvVVQaKMUJg/maxresdefault.jpg"></ion-img>
      <ion-list mode="ios">
          <ion-list-header mode="ios">Fifa Street</ion-list-header>
          <ion-item mode="ios">                      
          <ion-chip class="ion-margin-start">
            <ion-avatar mode="ios">
              <img src="https://s3.amazonaws.com/cdn.roosterteeth.com/uploads/images/b6e523c7-e8c6-4d10-ae2a-1c1f1d6f5798/original/2083595-1443436138123-JinxSquare.png">
            </ion-avatar>
            <ion-label color="dark">Marcelo Cisterna</ion-label>
          </ion-chip>
        </ion-item> 
          </ion-list> 
          <ion-label>Durante el EA Play, el evento que Electronic Arts celebra antes del E3 retransmitiendo las novedades sobre sus diferentes títulos, hemos podido ver los primeros detalles de FIFA 20, la nueva entrega de fútbol de EA Sports.
              
              La gran novedad anunciada hasta el momento es FIFA VOLTA, una especie de FIFA Street que regresa a la franquicia pero dentro de la saga principal, como modalidad añadida</ion-label>
        </ion-content>
