<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button>
          </ion-back-button>
        </ion-buttons>
    <ion-title>Mortal Kombat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>
              <ion-card color="dark" (click)="imagen1()">
                  <ion-img src="https://cdn.images.dailystar.co.uk/dynamic/184/photos/364000/620x/Mortal-Kombat-11-DLC-Characters-Release-Date-News-and-Leaks-for-all-MK11-DLC-Characters-776967.jpg"></ion-img>
                  <ion-card-content>
                  Nuevos DLC
                  </ion-card-content>
                </ion-card>
          </ion-col>
          <ion-col>
              <ion-card color="dark" (click)="imagen2()">
                <ion-img src="https://elcomercio.pe/files/listing_ec_flujo_xx/uploads/2019/05/03/5ccc5dd7a1236.png"></ion-img>
                <ion-card-content>
                    Personajes
                    </ion-card-content>
                  </ion-card>
              </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card color="dark" (click)="imagen3()">
                    <ion-img src="https://los40mx00.epimg.net/los40/imagenes/2019/05/13/tecnologia/1557775915_289727_1557777288_gigante_normal.jpg"></ion-img>
                    <ion-card-content>
                        Información
                        </ion-card-content>
                      </ion-card>
                  </ion-col>