<ion-header>
  <ion-toolbar>
    <ion-title>
      VJuegos
      <ion-icon color ="danger" name="logo-game-controller-a"></ion-icon>

    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
   <img src="https://static.iris.net.co/semana/upload/images/2019/3/20/606276_1.jpg">
  <ion-card-content>
    Bienvenidos, a la prueba beta de VJuegos, aplicacion donde podras mantenerte informado de noticias de tus Juegos u Consolas Favoritas
  </ion-card-content>
</ion-card>

<ion-item>
    <ion-button color="danger" (click)="Comenzar()">Comenzar</ion-button>
</ion-item>

</ion-content>